extends layout

block content
    h1 Lib-Express
    div
    h2 Articles
    div
    a(href= "/dashboard" class="btn btn-primary") Dashboard
    a(href= "/dashboard/category" class="btn btn-primary") Catégories