extends layout

block content
    h1 Lib-Express
    div
    h2 Catégories
    div
    a(href= "/dashboard" class="btn btn-primary") Dashboard
    a(href= "/dashboard/article" class="btn btn-primary") Article