extends layout

block content
    h1 Dashboard - Lib-Express
    div
    a(href= "/dashboard/article" class="btn btn-primary") Articles
    a(href= "/dashboard/category" class="btn btn-primary") Catégories
    div 
    h2 Création d'un article
    form(action="./" method="post")
        label(for="titreArticle") Titre
        input(type="text" class="form-control" id="titreArticle" placeholder="Titre de l'article")
        div
        textarea(id="mytextarea" name="mytextarea" placeholder="Ecrire un article")

        a(href= "/dashboard" class="btn btn-primary") Annuler 
        button(type= "submit" class="btn btn-primary") Créer  