extends layout

block content
    h1 Lib-Express
    div
    a(href= "/dashboard" class="btn btn-primary") Création
    a(href= "/" class="btn btn-primary") Login
    div
    //- table(class="table")
    //-     tbody
    //-         each article in listArticles
    //-             tr
    //-                 td= article.title
